<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <p>Create care plan</p>
    <form action= "/api/careplan" method= "post"> 
    	<input type="text" name="client" placeholder="Client" /><br />
    	<input type="text" name="health_req" placeholder="Health req" /><br />
    	<input type="submit" value= "Create care plan" />
    </form>
</body>
</html>