<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <p>Create carer</p>
    <form action= "/api/carer" method= "post"> 
    	<input type="text" name="carer" placeholder="Carer" /><br />
    	<input type="number" name="age" placeholder="Age" /><br />
    	<input type="text" name="issues" placeholder="Issues" /><br />
    	<input type="text" name="date_joined" placeholder="Date Joined" /><br />
    	<input type="submit" value= "Create carer" />
    </form>
</body>
</html>