//create_Client01.hbs

<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <p>Create Client01</p>
    <form action= "/api/client01" method= "post"> 
    	<input type="text" name="name" placeholder="Name" /><br />
    	<input type="number" name="id" placeholder="Id" /><br />
    	<input type="submit" value= "Create Carer01" />
    </form>
</body>
</html>