<html>
<head>
    <title>{{ title }}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <p>Index</p>
    <p>{{ title }}</p>

    <div id= "root"></div>
    <script type="text/javascript" src="/build/bundle.js"></script>

</body>
</html>